.profilecontainer{
    flex: 6;
    margin: 5px 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.profileHeading{
    font-size: 35px;
    font-weight: 600;
}
.profileInfoContainer{
    margin: 20px 0px;
   
}
.profileInfo{
    font-size: 20px;
}
