.dashboardcontainer{
    flex: 6;
    margin-top: 10px;
    
}
.dashboard{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.dashboardItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border: 1px solid #bbbaba;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 17px 10px 0px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 17px 10px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 17px 10px 0px 0px rgba(0,0,0,0.25);
}

.dashboardTitle{
    font-size: 20px;
}

.dashboardInfoContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.dashboardInfo{
    font-size: 30px;
    font-weight: 600;
}
